@use "/src/css/variables";
@use "/src/css/breakpoints";

/*=============================================
=            Mixins and utilities            =
=============================================*/

@mixin flexWhenDesktop {
    @include breakpoints.tablet {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }
}

// utility class that will disappear nav items when on smaller screens.
.desktopNav {
    display: none;

    @include breakpoints.tablet {
        display: unset;
    }
}

// utility class that will only display nav items when on smaller screens
.mobileNav {
    @include breakpoints.tablet {
        display: none;
    }
}

// utility class to reset list styling
@mixin resetList {
    // reset list styling
    list-style: none;
    padding: 0;
    margin: 0;
}

/*=====  End of Mixins and utilities  ======*/

/*----------  Navbar wrapper has full width background colour when scrolled down  ----------*/
// is also docked to the top of the screen

.wrapper {
    // transparent vivid blue background with frosted effect
    background-color: rgba(variables.$vivid-blue, 0.6);
    backdrop-filter: blur(20px);

    // dock to the top of screen without taking space in flow
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

/*=============================================
=            Navbar styling            =
=============================================*/

.navbar {
    padding: 1rem;
    padding-inline: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // max width and centred
    max-width: variables.$max-width;
    margin-inline: auto;

    // dark background requires light text
    color: variables.$light;

    position: relative;
}

/*=====  End of Navbar styling  ======*/

/*----------  Logo styling  ----------*/

.logo {
    height: 2rem;
}

/*----------  desktop list styling  ----------*/

.navList {
    @include resetList;
    // large screens require side by side links
    @include flexWhenDesktop();
}

/*----------  desktop login controls styling  ----------*/

.loginControls {
    // large screens require side by side links
    @include flexWhenDesktop();
}

/*----------  mobile dropdown wrapper styling  ----------*/

// burger menu dropdown wrapper
.dropdownMenu {
    // full width dropdown
    width: 100%;
    padding: 1rem;
    background-color: variables.$vivid-blue;

    position: absolute;

    // dock to the right
    right: 0px;

    // z-index should be under the main nav
    z-index: -100;

    // default vertical poosition is hidden
    top: 0;
    transform: translateY(-110%);

    // add transition
    // transition: transform linear 0.25s;

    // display: none;

    // styling to display the menu
    &--display {
        top: 100%;
        transform: translateY(0);

        // display: block;
    }
}

/*----------  Mobile dropdown list styling  ----------*/

.dropdownList {
    @include resetList;

    // push list to the right
    width: max-content;
    margin-left: auto;
}

/*----------  Mobile dropdown link styling  ----------*/
// make links bigger for touch accessbility

.dropdownLink {
    display: block;
    padding: 1rem;
}

/*----------  Mobile Dropdown Menu button  ----------*/

.dropdownMenuButton {
    // reset button styling.
    border: none;
    background-color: transparent;

    // add padding for touch accessibility
    padding: 0.5rem;

    cursor: pointer;
}
