/*=============================================
=            Global Variables            =
=============================================*/

/* Colors: */

// whites and blacks

$light: #ffffff;
$light-off: #f6f7f8;
$dark: #191919;
$dark-off: #19191999;

// blues

$primary-blue-light: #2ab7fd;
$primary-blue-medium: #0e5fe3;
$primary-blue-strong: #0a49af;

$unnamed-color-eef6ff: #eef6ff;

$unnamed-color-191919cc: #191919cc;

/*=====  End of Global Variables  ======*/
