/*=============================================
=            Global Variables            =
=============================================*/

/* Colors: */

// whites and blacks

$light: #ffffff;
$light-off: #f6f7f8;
$dark: #191919;
$dark-off: #19191999;

// blues

$sky-blue: #2ab7fd;
$vivid-blue: #0e5fe3;
$dark-blue: #0a49af;

$unnamed-color-eef6ff: #eef6ff;

$unnamed-color-191919cc: #191919cc;

$max-width: 1200px;

/*=====  End of Global Variables  ======*/
