@use "./css/variables";
@use "./css/breakpoints";

/*=============================================
=            Mixins and utilities            =
=============================================*/

.text-centre {
    text-align: center;
}

/*=====  End of Mixins and utilities  ======*/

/*=============================================
=            Regular Classes            =
=============================================*/

// TODO: should probably refactor this section class and break everything out

.section {
    min-height: 35rem;
    max-width: variables.$max-width;
    margin-inline: auto;

    // mobile first
    // base section default styling is stacked
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;

    padding: 2rem;

    // for commonly used sections that have text on one side and an image on the other.
    &--side-by-side {
        // in stacked layout, text is always after image
        .section__text {
            order: 2;
        }

        .section__image {
            order: 1;
        }

        // larger screens have sections side by side
        @include breakpoints.desktop {
            flex-direction: row;
            justify-content: space-between;
            column-gap: 3rem;

            padding: 2rem;

            // in side by side layout, order is whatever is in the markup
            .section__image,
            .section__text {
                order: unset;
            }
        }
    }

    // for side by side sections, text box is a bit smaller than the image
    &__text {
        max-width: 30rem;
    }

    // for side by side sections, images have a max size
    // also place the image in the centre of the container
    &__image {
        flex-grow: 1;

        img,
        picture {
            max-width: 27rem;
            margin-inline: auto;
        }
    }

    // general typography for landing page sections
    h2 {
        font-size: 1.5rem;
        font-weight: 600;

        @include breakpoints.tablet {
            font-size: 2.25rem;
        }
    }

    p {
        color: variables.$dark-off;
        margin-block: 1rem;
    }

    // wrapper is used to give full width background colors
    &__wrapper--off-white {
        background-color: variables.$light-off;
    }
}

// card container renders cards in a dynamic way
.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 2rem;
    flex-wrap: wrap;

    > * {
        margin-inline: auto;
    }
}

.footer {
    min-height: 10rem;
    background-color: variables.$dark;
}

/*=====  End of Regular Classes  ======*/

/*=============================================
=            Hero Unique styling            =
=============================================*/

#heroTitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.16;
    color: variables.$light;

    text-align: center;

    @include breakpoints.tablet {
        font-size: 3rem;
    }

    @include breakpoints.desktop {
        text-align: start;
    }
}

#heroText {
    color: variables.$light-off;
    margin-block: 1rem;
    text-align: center;
    @include breakpoints.desktop {
        text-align: start;
        margin-block: 2rem;
    }
}

#heroButton {
    width: 100%;

    @include breakpoints.desktop {
        width: auto;
    }
}

#heroSectionWrapper {
    // hero section wrapper has lawconnect gradient
    background: linear-gradient(
        variables.$vivid-blue 10%,
        variables.$dark-blue
    );

    // overflow prevents the circle motif from showing
    overflow: hidden;

    min-height: 37.5rem;
    padding-top: 2.5rem;
}

#heroTextContent {
    // z-index for the circle motif below
    z-index: 1;
}

#heroImage {
    position: relative;
    z-index: 0;

    img,
    picture {
        max-width: min(100%, 40rem);
        margin-inline: auto;
    }

    // hero image has a circle motif behind it
    &::before {
        content: "";

        width: 110%;
        aspect-ratio: 1;

        z-index: -1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // make it circle
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(variables.$vivid-blue, 0.5);
        border-width: 6.5rem;
    }
}

/*=====  End of Hero Unique styling  ======*/
