@use "./css/variables";
@use "./css/breakpoints";

/*=============================================
=            Mixins and utilities            =
=============================================*/

.text-centre {
    text-align: center;
}

/*=====  End of Mixins and utilities  ======*/

/*=============================================
=            Regular Classes            =
=============================================*/

.section {
    // base section styling is layout agnostic
    min-height: 35rem;
    max-width: variables.$max-width;
    margin-inline: auto;

    // mobile first
    // section default styling is stacked
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;

    padding: 2rem;

    // for commonly used sections that have text on one side and an image on the other.
    &--side-by-side {
        // in stacked layout, text is always after image
        .section__text {
            order: 2;
        }

        .section__image {
            order: 1;
        }

        // larger screens have sections side by side
        @include breakpoints.desktop {
            flex-direction: row;
            justify-content: space-between;
            column-gap: 3rem;

            padding: 1rem;

            // in side by side layout, order is whatever is in the markup
            .section__image,
            .section__text {
                order: unset;
            }
        }
    }

    // for side by side sections, text box is a bit smaller than the image
    &__text {
        max-width: 30rem;
    }

    // general typography for landing page sections
    h2 {
        font-size: 1.5rem;
        font-weight: 600;

        @include breakpoints.tablet {
            font-size: 2.25rem;
        }
    }
}

/*=====  End of Regular Classes  ======*/

/*=============================================
=            Hero Unique styling            =
=============================================*/

#heroTitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.16;
    color: variables.$light;

    text-align: center;

    @include breakpoints.tablet {
        font-size: 3rem;
    }

    @include breakpoints.desktop {
        text-align: start;
    }
}

#heroText {
    color: variables.$light-off;
    margin-block: 1rem;
    text-align: center;
    @include breakpoints.desktop {
        text-align: start;
        margin-block: 2rem;
    }
}

#heroButton {
    width: 100%;

    @include breakpoints.desktop {
        width: auto;
    }
}

#heroSectionWrapper {
    // hero section wrapper has lawconnect gradient
    background: linear-gradient(variables.$vivid-blue, variables.$dark-blue);

    // overflow prevents the circle motif from showing
    overflow: hidden;
}

#heroTextContent {
    // z-index for the circle motif below
    z-index: 1;
}

#heroImage {
    position: relative;
    z-index: 0;

    // hero image has a circle motif behind it
    &::before {
        content: "";

        width: 110%;
        aspect-ratio: 1;

        z-index: -1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // make it circle
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(variables.$vivid-blue, 0.5);
        border-width: 6.5rem;
    }
}

/*=====  End of Hero Unique styling  ======*/
